<div class="section-container">
  <h2>Mensagens</h2>
  <div>
    <table class="table table-inverse table-hover">
      <thead class="thead-dark">
        <tr>
          <th *ngFor="let key of displayedColumns">{{ key }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let message of currentMessages">
          <td class="text-white" *ngFor="let key of displayedColumns">{{ message[key] }}</td>
        </tr>
      </tbody>
    </table>
    <div>
      <button [disabled]="currentPage == 0" (click)="previousPage()">Previous</button>
      <button [disabled]="currentPage >= totalPages - 1" (click)="nextPage()">Next</button>
    </div>
  </div>
</div>