<div class="section-container">
  <h2>Mensagens</h2>
  <div>
    <table class="table table-inverse table-hover">
      <thead class="thead-dark">
        <tr>
          <th *ngFor="let key of displayedColumns">{{ key }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let message of currentMessages">
          <td class="text-white" *ngFor="let key of displayedColumns">{{ message[key] }}</td>
        </tr>
      </tbody>
    </table>
    <!-- Adicionar CSS nos botões -->
    <div>
      <button class="btn btn-small btn-info mr-4" [disabled]="currentPage == 0" (click)="previousPage()">Anterior</button>
      <button class="btn btn-small btn-info" [disabled]="currentPage >= totalPages - 1" (click)="nextPage()">Próximo</button>
    </div>
  </div>
</div>