<div class="container-fluid">
  <h3 class="header">Comandos</h3>
  <div class="row">
    <div class="btn-group" role="group" aria-label="Comandos">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addDeviceCommandModal">Adicionar Comando</button>
      <button type="button" class="btn btn-primary btn-danger" data-bs-toggle="modal" data-bs-target="#deleteDeviceCommandModal">Apagar Comando</button>
    </div>
  </div>
  <div class="row">
    <select class="form-select form-select-lg mb-3 h-25 p-3" [(ngModel)]="selectedCommand">
      <option *ngFor="let command of DeviceCommands" [ngValue]="command">{{command.Name}}</option>
    </select>
    <button type="button" class="btn btn-primary" (click)="sendCommand()">Enviar</button>
  </div>
</div>

<div class="modal fade" id="addDeviceCommandModal" tabindex="-1" aria-labelledby="addDeviceCommandModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <p class="modal-title" id="addDeviceCommandModalLabel"> <span
                      style="font-size: 25px; color: #000; font-weight: 700;">Adicionar um novo comando</span>
                  <br />
                  <small style="color: #000;">Por favor, adicione um novo comando abaixo</small>
              </p>

              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
                  <div class="form-group pt-3">
                      <div class="input-field">
                          <span class="fa fa-user fa-color p-2"></span>
                          <input class="form-control" [(ngModel)]="newDeviceCommandName" type="text"
                              placeholder="Nome do Novo Comando">
                      </div>
                  </div>
                  <div class="form-group pt-3">
                    <div class="input-field">
                        <span class="fa fa-user fa-color p-2"></span>
                        <input class="form-control" [(ngModel)]="newDeviceCommandCommand" type="text"
                            placeholder="Novo Comando">
                    </div>
                </div>
          </div>
          <div class="modal-footer">
              <button id="addDeviceCommandCloseBtn" type="button" class="btn btn-secondary"
                  data-bs-dismiss="modal">Fechar</button>
              <button type="button" class="btn btn-primary" (click)="addDeviceCommand()">Adicionar</button>
          </div>
      </div>
  </div>
</div>

<div class="modal fade" id="deleteDeviceCommandModal" tabindex="-1" aria-labelledby="deleteDeviceModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <p class="modal-title" id="deleteDeviceCommandModalLabel"> <span
                      style="font-size: 25px; color: #000; font-weight: 700;">Apagar dispositivo</span>
                  <br />
                  <small style="color: #000;">Por favor, indique abaixo o seu dispositivo que quer apagar</small>
              </p>

              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <div class="form-group pt-3">
                  <label for="my-dropdown">Seleciona um comando:</label>
                  <select class="form-control" id="my-dropdown" [(ngModel)]="selectedDeleteDeviceCommand">
                      <option *ngFor="let deleteDevice of DeviceCommands" [value]="deleteDevice.Id">{{ deleteDevice.Name
                          }}</option>
                  </select>
              </div>
              <!-- <small *ngIf="!resetPwdEmail" class="text-danger">É necessário um dispositivo</small>
                  <small *ngIf="!isValidEmail && ValidateEmail" class="text-danger">É necessário um dispositivo
                      válido</small> -->
          </div>
          <div class="modal-footer">
              <button id="deleteDeviceCommandCloseBtn" type="button" class="btn btn-secondary"
                  data-bs-dismiss="modal">Fechar</button>
              <button type="button" class="btn btn-primary btn-danger" (click)="deleteDeviceCommand()">Eliminar</button>
          </div>
      </div>
  </div>
</div>