<div class="section-container">
    <table class="table table-dark table-inverse table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Dispositivo</th>
                <th>Comandos</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Device_name</td>
                <TD ALIGN="center">
                    <select>
                        <option value="Command1">Comando</option>
                    </select>
                <td>
                    <input type='button' value='OK' />
                </td>
            </tr>
        </tbody>
    </table>
</div>