<div *ngIf="isUserAuthenticated() && isDeviceFromUser()" class="container-fluid">

    <div class="section-container">
        <div class="cards">
            <div class="card-deck">
                <div class="card mb-3 shadow card-theme">
                    <div class="card-body-device pb-0">
                        <div class="row float-left">
                            <p class="font-weight-bold text-dark">{{ this.currentDeviceName }}</p>
                        </div>
                        <div class="row float-right">
                            <div class="col btn-group float-right p-2">
                                <button type="button" class="btn btn-circle p-0"
                                    [ngClass]="currentDeviceConnectivityState === 'Connected' ? 'btn-success' : 'btn-danger'">
                                </button>
                            </div>
                            <div class="col btn-group float-right p-0">
                                <div class="dropdown">
                                    <button type="button" class="btn btn-transparent dropdown-toggle p-0"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                        <img class="three-dots" src="../../../assets/icons/icons8-menu-vertical-30.png"
                                            alt="Vertical Dots">
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end">
                                        <a class="dropdown-item" data-bs-toggle="modal"
                                            data-bs-target="#deviceWidgetModal"><i class="ds-icon-start"></i>Gerir
                                            Ferramentas</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <br />

                    </div>
                </div>
                <div class="card mb-3 shadow card-theme">
                    <div class="card-header card-header-theme">
                        <h5>Cadeia de Conexão do Dispositivo</h5>
                    </div>
                    <div class="card-body pb-0">
                        <p>{{ this.currentDeviceConnectionString }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-container">
        <div class="row-fluid cards">
            <div class="card-deck">
                <app-device-send-commands *ngIf="sendMethodOnDeviceWidget"
                    [currentDeviceID]="currentDeviceId.toString()"></app-device-send-commands>
                <app-device-line-graph *ngIf="lineChartDeviceWidget" [currentDeviceID]="currentDeviceId.toString()"></app-device-line-graph>
            </div>
        </div>

        <div *ngIf="eventTableDeviceWidget">
            <app-device-message-table [currentDeviceID]="currentDeviceId.toString()"></app-device-message-table>
        </div>
    </div>
</div>



<div class="modal fade" id="deviceWidgetModal" tabindex="-1" aria-labelledby="deviceWidgetModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title" id="deviceWidgetModalLabel"> <span
                        style="font-size: 25px; color: #000; font-weight: 700;">Adicionar ferramenta</span>
                    <br />
                    <small style="color: #000;">Por favor, selecione as ferramentas que precisa</small>
                </p>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-dark">
                <div class="form-group pt-3">
                    <div id="widgetCheckboxes">
                        <input type="checkbox" [(ngModel)]="sendMethodOnDeviceWidget">Chamar Métodos no Dispositivo
                        <input type="checkbox" [(ngModel)]="eventTableDeviceWidget">Tabela de Mensagens de Evento
                        <input type="checkbox" [(ngModel)]="lineChartDeviceWidget">Gráfico de Linhas
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="deviceWidgetCloseBtn" type="button" class="btn btn-secondary"
                    data-bs-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" (click)="updateWidgets()">OK</button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="!isUserAuthenticated() || !isDeviceFromUser()">
    <h1>Accesso Negado</h1>
</div>