<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border">
                    <div class="panel-heading p-3">
                        <h3 class="pt-3 font-weight-bold">Repor Palavra Passe</h3>
                    </div>

                    <div class="panel-body p-3">
                        <form [formGroup]="resetPwdForm">
                            <div class="form-group pt-3">
                                <div class="input-field"
                                    [class.error]="resetPwdForm.controls['password'].dirty && resetPwdForm.hasError('required','password')">

                                    <input class="form-control" formControlName="password" type="password"
                                        placeholder="Palavra-Passe">
                                </div>
                            </div>
                            <small
                                *ngIf="resetPwdForm.controls['password'].dirty && resetPwdForm.hasError('required', 'password')"
                                class="text-danger">É necessário introduzir uma Palavra-Passe</small>
                            <div class="form-group pt-3">
                                <div class="input-field"
                                    [class.error]="resetPwdForm.controls['confirmPassword'].dirty && resetPwdForm.hasError('required','confirmPassword')">

                                    <input class="form-control" formControlName="confirmPassword" type="password"
                                        placeholder="Confirmar Palavra-Passe">
                                </div>
                            </div>
                            <small
                                *ngIf="resetPwdForm.controls['confirmPassword'].dirty && resetPwdForm.hasError('required', 'confirmPassword')"
                                class="text-danger">É necessário confirmar a Palavra-Passe</small>
                            <small
                                *ngIf="resetPwdForm.hasError('ConfirmPasswordValidator', 'confirmPassword')"
                                class="text-danger">As Palavras-Passe não estão iguais</small>

                            <button type="submit" class="btn btn-primary btn-block mt-4 w-100">Repor
                                Palavra-Passe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>