<div class="row">
    <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
        <div class="panel border">
            <div class="panel-heading">
                <h3 class="pt-3 font-weight-bold">Criar uma Conta</h3>
            </div>

            <div class="panel-body p-3">
                <form [formGroup]="UserForm">
                    <div class="form-group pt-3">
                        <div class="input-field">
                            <span class="fa fa-user fa-color p-2"></span>
                            <input class="form-control" formControlName="username" type="text"
                                placeholder="Nome de Utilizador">
                        </div>
                    </div>
                    <small *ngIf="UserForm.controls['email'].dirty && UserForm.hasError('required', 'email')"
                        class="text-danger">É necessário introduzir um Nome de Utilizador</small>
                    <div class="form-group pt-3">
                        <div class="input-field">
                            <span class="fa fa-envelope p-2 fa-color"></span>
                            <input class="form-control" formControlName="email" type="email" placeholder="Email">
                        </div>
                    </div>
                    <small *ngIf="UserForm.controls['username'].dirty && UserForm.hasError('required', 'username')"
                        class="text-danger">É necessário introduzir um Email</small>
                    <div class="form-group pt-3">
                        <div class="input-field">
                            <span class="fa fa-lock p-2 fa-color"></span>
                            <input class="form-control" formControlName="password" [type]="type"
                                placeholder="Palavra-Passe">
                            <span (click)="ShowOrHidePassword()" class="fa fa-color {{eyeIcon}}"></span>
                        </div>
                    </div>
                    <small *ngIf="UserForm.controls['password'].dirty && UserForm.hasError('required', 'password')"
                        class="text-danger">É necessário introduzir uma Palavra-Passe</small>
                    <div class="form-group pt-3">
                        <div class="input-field">
                            <span class="fa fa-lock p-2 fa-color"></span>
                            <input class="form-control" formControlName="confirmPassword" type="password"
                                placeholder="Confirmar Palavra-Passe">
                        </div>
                    </div>

                    <button [disabled]="UserForm.invalid" type="submit"
                        class="btn btn-primary btn-block mt-4 w-100">Criar Conta</button>
                    <div class="text-center pt-4 text-muted">
                        Já tens uma conta? <a id="hasAccount" routerLink="/login">Entra aqui</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>