<div class="row">
    <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
        <div class="panel border">
            <div class="panel-heading">
                <h3 class="pt-3 font-weight-bold">Entrar</h3>
            </div>

            <div class="panel-body p-3">
                <form [formGroup]="loginForm">
                    <div class="form-group pt-3">
                        <div class="input-field">
                            <span class="fa fa-user fa-color p-2"></span>
                            <input class="form-control" formControlName="username" type="text" placeholder="Nome de Utilizador">
                        </div>
                    </div>
                    <small *ngIf="loginForm.controls['username'].dirty && loginForm.hasError('required', 'username')"
                        class="text-danger">É necessário introduzir o Nome de Utilizador</small>
                    <div class="form-group pt-3">
                        <div class="input-field">
                            <span class="fa fa-lock p-2 fa-color"></span>
                            <input class="form-control" formControlName="password" [type]="type" placeholder="Palavra-Passe">
                            <span (click)="ShowOrHidePassword()" class="fa fa-color {{eyeIcon}}"></span>
                        </div>
                    </div>
                    <small *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required', 'password')"
                        class="text-danger">É necessário introduzir a Palavra-Passe</small>
                    <div class="form-inline fr mt-4">
                        <a id="forgotPwd" data-bs-toggle="modal" data-bs-target="#forgotPwdModal" class="font-weight-bold">Esqueceste a Palavra-Passe?</a>
                    </div>
                    <button (click)="login()" [disabled]="loginForm.invalid" type="submit"
                        class="btn btn-primary btn-block mt-4 w-100">Entrar</button>
                    <div class="text-center pt-4 text-muted">
                        Não tens uma conta? <a id="noAccount" routerLink="/register">Cria uma conta aqui</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="forgotPwdModal" tabindex="-1" aria-labelledby="forgotPwdModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title" id="forgotPwdModalLabel"> <span style="font-size: 25px; color: #000; font-weight: 700;">Esqueceste a Palavra-Passe?</span>
                    <br />
                    <small style="color: #000;">Por favor, indique abaixo o Email para repor a sua Palavra-Passe</small>
                </p>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group pt-3">
                    <div class="input-field">
                        <span class="fa fa-envelope p-2"></span> 
                        <input [(ngModel)]="resetPwdEmail" (ngModelChange)="ValidateEmail($event)" type="text" placeholder="Email">
                    </div>
                </div>
                <small *ngIf="!resetPwdEmail" class="text-danger">É necessário um Email</small>
                <small *ngIf="!isValidEmail && ValidateEmail" class="text-danger">É necessário um Email válido</small>
            </div>
            <div class="modal-footer">
                <button id="resetPwdCloseBtn" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" (click)="RecoverPassword()">Recuperar</button>
            </div>
        </div>
    </div>
</div>