<form class="form-signin" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
    <div class="container-fluid">
        <h1 class="form-signin-heading">Entrar</h1>
        <div *ngIf="invalidLogin" class="alert alert-danger">Nome de Utilizador ou Palavra-passe estão errados.</div>
        <br/>
        <label for="username" class="sr-only">Email</label>
        <input type="email" id="username" name="username" ngModel class="form-control" placeholder="User Name" required autofocus>
        <br/>
        <label for="password" class="sr-only">Palavra-Passe</label>
        <input type="password" id="password" name="password" ngModel class="form-control" placeholder="Password" required>
        <br/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
    </div>
</form>