<div class="section-container">
    <div class="cards">
        <div class="card-deck">
            <div class="card mb-3 shadow card-theme">
                <div class="card-header card-header-theme">
                    <h1>Dashboard</h1>
                </div>
                <div class="card-body">
                    <app-bar-chart></app-bar-chart>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-dark table-inverse table-hover">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Tipo</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let device of devices">
                <td>{{ device.DeviceID }}</td>
                <td>{{ device.Name }}</td>
                <td>{{ device.DeviceType.Name }}</td>
                <td>{{ device.DeviceState }}</td>
            </tr>
        </tbody>
    </table>
</div>